@model CondS.PIM.Modelo.usuarioMOD
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>Teste</h2>
<!--Mesma coisa que o form em html-->
<fieldset>
    <legend>Login do usuario </legend>
    @using (Html.BeginForm())
    {
        <div >
            <!--Input-->
            @Html.LabelFor(Model => Model.Usuario)
            @Html.TextBoxFor(Model => Model.Usuario, new { @class = "form-control form-group", placeholder ="Digite o nome do usuario "})
        </div>
        <div>
            @Html.LabelFor(Model => Model.Senha)
            @Html.PasswordFor(Model => Model.Senha, new { @class = "form-control form-group", placeholder = "Informe a senha  "})

        </div>
        <div>
            @Html.LabelFor(Model => Model.Tipo)
            @Html.TextBoxFor(Model => Model.Tipo, new{ @class = "form-control form-group", placeholder = "Informe o tipo"})

        </div>
        <br />
        <div >
            <input type="submit" name="btnCadastrar" value="Cadastrar" class="btn btn-success" />
        </div>
    }
</fieldset>

